#navbar {
    background-color: rgb(144, 27, 212);
}

#hero {
    background-color: blueviolet;
}
#Work {
    background-color: blueviolet;
}

#certificate {
    background-color: blueviolet;
}
#service{
    background-color: blueviolet;
}

#About{
    background-color: blueviolet;
}
#footer{
    background-color: rgb(144, 27, 212);
}

#contact{
    background-color: blueviolet;
}