#navbar {
    background-color: rgb(144, 27, 212);
}

#hero {
    background-color: blueviolet;
}
#Work {
    background-color: rgb(155, 64, 234);
}

#certificate {
    background-color: rgb(173, 97, 245);
}
#service{
    background-color: rgb(188, 116, 255);
}

#About{
    background-color: rgb(198, 138, 255);
}
#footer{
    background-color: blueviolet;
}